# EditorConfig is awesome: https://editorconfig.org
root = true

##############################
# Default settings for all files
##############################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

##############################
# Python files
##############################
[*.py]
indent_size = 4
max_line_length = 120
# For Django projects, you often want to ignore trailing commas in multi-line constructs, so default trim is fine
# Optional: enforce LF line endings specifically
end_of_line = lf

##############################
# JavaScript / TypeScript
##############################
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100
quote_type = single

##############################
# JSON files
##############################
[*.json]
indent_style = space
indent_size = 2

##############################
# HTML / CSS / SCSS
##############################
[*.{html,css,scss}]
indent_style = space
indent_size = 2

##############################
# YAML files (Django settings often use YAML)
##############################
[*.{yml,yaml}]
indent_style = space
indent_size = 2

##############################
# Markdown / text files
##############################
[*.md]
trim_trailing_whitespace = false
max_line_length = 80
